/*
#413c69 : violet
#4a47a3 : dark blue
#709fb0 : teal
#a7c5eb : light blue
*/

/*
91F9E5 : Magic Mint
76F7BF : Aquamarine
5FDD9D : Medium Aquamarine
499167 : Middle Green
3F4531 : Rifle Green
*/


body {
    margin: auto;
    max-width: 1920px;
    /*max-width: 1200px;*/
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tab {
    overflow: hidden;
    height: 30px;
    border-bottom: 5px solid #76F7BF;
    background-color: #499167;
}

.tab button {
    background-color: inherit;
    border-radius: 10px 10px 0px 0px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    height: 30px;
    padding: 5px 15px;
    transition: 0.1s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #91F9E5;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #76F7BF;
}

.overview {
    height: 120px;
    border-bottom: 1px solid black;
    padding: 10px 20px;
}


/* Style the tab content */
.tabcontent {
    padding: 6px 12px;
    border-top: none;
}

ul {
    list-style-type: none;
    margin: 0px;
}

.routeContents {
    padding: 5px;
    height: 100px;
    border-radius: 0px 0px 5px 5px;
}

.outerShell {
    border: 1px solid #778;
    border-radius: 5px;
    margin: 10px 2%;
    width: 90%;
}

.routeTitleContainer {
    border-bottom: 1px solid #778;
    padding: 5px 0px;
    border-radius: 5px 5px 0px 0px;
    font-weight: 700;
    font-size: 22px;
}

.routeTitle {
    margin: auto;
}

.sallyLocation {
    padding-left: 10px;
    min-width: 20%;
    max-width: 20%;
}

.sallySelection {
    padding-right: 10px;
    min-width: 20%;
    max-width: 20%;
}

.sallyColumn {
    width: 25%;
}

.scanner {
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
    max-width: 1px;
    max-height: 1px;
    opacity: 0%;
}

.cart-input {
    margin-right: 10px;
}

.tab-spacing {
    padding: 0.5rem 0rem;
}